<style>
    mat-cell, .mat-header-cell{
  overflow: visible;
}
</style>
<div class="user-list-container">
  <button mat-raised-button (click)="onRefresh()">
    <mat-icon>cached</mat-icon>
  </button>
  <button mat-raised-button routerLink="/users/new">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-raised-button color="warn">
    <mat-icon>delete</mat-icon>
  </button>

  <mat-card class="margin-top-10">
    <mat-card-content>
      <form class="full-width">
        <mat-form-field class="full-width user-search">
          <input type="text" matInput placeholder="Search" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="float-right margin-bottom-10" *ngIf="!isAdvancedSearchEnabled">
          <a href="javascript:void(0)" (click)="isAdvancedSearchEnabled = !isAdvancedSearchEnabled">Advanced search</a>
        </div>
        <div class="clearfix"></div>

        <div *ngIf="isAdvancedSearchEnabled">
          <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" placeholder="Start date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" placeholder="End date">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <div class="margin-bottom-20 clearfix">
            <button mat-raised-button color="primary">Search</button>
            <button mat-button (click)="isAdvancedSearchEnabled = !isAdvancedSearchEnabled">Close</button>
          </div>
        </div>
      </form>
      <div class="table-responsive clearfix">
          <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef fxFlex="5%">
                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="5%">
                        <mat-checkbox class="inline" color="primary" (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef fxFlex="5%"> ID </mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="5%">
                            {{element.id}}
                        </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.name}}
                        </mat-cell>
                </ng-container>

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.username}}
                        </mat-cell>
                </ng-container>
                <ng-container matColumnDef="campaign">
                    <mat-header-cell *matHeaderCellDef> Campaign </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{constants.getElementFromList(sharedDataService.campaignChoices, 'key', element.campaign, 'display')}}
                        </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone_number">
                    <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.phone_number}}
                        </mat-cell>
                </ng-container>

                <ng-container matColumnDef="role">
                    <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.role}}
                        </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a routerLink="/users/{{element.id}}/dashboard">
                                <mat-icon aria-label="Dashboard">subject</mat-icon>
                            </a>
                        </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        <mat-paginator #paginator
                       [pageSize]="constants.defaultPageSize"
                       [pageSizeOptions]="constants.pageSizeOptions"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

  <button mat-fab class="fixed-bottom-right" routerLink="/users/new">
    <mat-icon aria-label="Add user">add</mat-icon>
  </button>
</div>
