<mat-card>
    <mat-card-title> Sales </mat-card-title>
    <mat-card-content>
        <div fxLayout="column">
            <form [formGroup]="form">
                <div fxLayout="row" fxLayoutGap="2%">
                    <mat-form-field fxFlex="20%">
                        <input matInput [matDatepicker]="fromPicker" placeholder="From" (dateChange)="getSales()" formControlName="start_date">
                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="20%">
                        <input matInput [matDatepicker]="toPicker" placeholder="To" (dateChange)="getSales()" formControlName="end_date">
                        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                        <mat-datepicker #toPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="20%">
                        <mat-select placeholder="Quality Status" formControlName="quality_status" (selectionChange)="getSales()">
                            <mat-option [value]="false">All</mat-option>
                            <mat-option *ngFor="let la of sharedDataService.qualityStatusChoices" [value]="la.key">{{la.display}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="20%">
                        <mat-select placeholder="Campaign" formControlName="campaign" (selectionChange)="getSales()">
                            <mat-option [value]="false">All</mat-option>
                            <mat-option *ngFor="let la of sharedDataService.campaignChoices" [value]="la.key">{{la.display}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="table-container">
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef fxFlex="5%">Sale ID </mat-header-cell>
                    <mat-cell *matCellDef="let element;let index=index;" fxFlex="5%">
                        <a class="cursor-pointer" (click)="edit(element)">{{element.id}}</a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="created_on">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Created On </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{moment(element.created_on).format('MMM DD, YYYY hh:mm A')}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date_sold">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Sold On </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.date_sold?moment(element.date_sold).format('MMM DD, YYYY hh:mm A'):''}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="sold_by">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Sold By </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.sold_by}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="quality_status">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Quality Status </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{constants.getElementFromList(sharedDataService.qualityStatusChoices, 'key', element.quality_status, 'display')}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone_number">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Phone Number </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.lead.phone_number}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="busines_name">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Business Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.lead.busines_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="first_name">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> First_Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.lead.first_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="last_name">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Last_Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.lead.last_name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="current_supplier">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Current Supplier </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.lead.current_electricity_supplier}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="new_supplier">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> New Supplier </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.new_supplier}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="contract_end_date">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Contract End Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.lead.contract_end_date?moment(element.lead.contract_end_date).format('MMM DD, YYYY hh:mm A'):''}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="supply_number">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> MPAN/MPRN </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.lead.supply_number}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="renewal_acquisition">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"> Renewal/Acquisition </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.renewal_acquisition}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #historyPaginator
                           [pageSize]="constants.defaultPageSize"
                           [pageSizeOptions]="constants.pageSizeOptions"
                           [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
