<form [formGroup]="form" (ngSubmit)="form.valid && createLead()">
    <div fxLayout="column" class="padded-form">
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="15%" class="mat-block">
                <mat-select placeholder="*Salutation" formControlName="salutation">
                    <mat-option value="Mr.">Mr.</mat-option>
                    <mat-option value="Mrs.">Mrs.</mat-option>
                    <mat-option value="Miss">Miss</mat-option>
                    <mat-option value="Dr.">Dr.</mat-option>
                    <mat-option value="Ms.">Ms.</mat-option>
                    <mat-option value="Prof.">Prof.</mat-option>
                    <mat-option value="Rev.">Rev.</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="21%">
                <input matInput class="white-text f20" placeholder="First Name" formControlName="first_name">
            </mat-form-field>

            <mat-form-field fxFlex="22%" class="mat-block" >
                <input matInput class="white-text f20"
                       placeholder="Middle Name" formControlName="middle_name">
            </mat-form-field>

            <mat-form-field fxFlex="22%" >
                <input matInput class="white-text f20"
                       placeholder="Last Name" formControlName="last_name">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="45%" >
                <input matInput class="white-text f20" [mask]="'(000) 900-0000'" placeholder="Phone Number"
                       formControlName="phone_number">
            </mat-form-field>
            <mat-form-field fxFlex="45%" >
                <input matInput class="white-text f20" placeholder="Email" formControlName="email">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="45%" >
                <input matInput class="white-text f20" placeholder="Address 1" formControlName="address_1">
            </mat-form-field>
            <mat-form-field fxFlex="45%" >
                <input matInput class="white-text f20" placeholder="Address 2" formControlName="address_2">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="45%" >
                <input matInput class="white-text f20" placeholder="Address 3" formControlName="address_3">
            </mat-form-field>

            <mat-form-field fxFlex="45%">
                <input matInput class="white-text f20" placeholder="Address 4" formControlName="address_4">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="28%" >
                <input matInput class="white-text f20" placeholder="Town or City" formControlName="town_or_city">
            </mat-form-field>

            <mat-form-field fxFlex="28%">
                <input matInput class="white-text f20" placeholder="Postcode" formControlName="postcode">
            </mat-form-field>

            <mat-form-field fxFlex="29%">
                <input matInput class="white-text f20 mat-block" placeholder="County" formControlName="county">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="28%">
                <mat-select placeholder="Meter Type" formControlName="utility_type">
                    <mat-option value="gas">Gas</mat-option>
                    <mat-option value="electricity">Electricity</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="28%">
                <input matInput class="white-text f20 mat-block" placeholder="Meter Type Code" formControlName="meter_type_code">
            </mat-form-field>
            <mat-form-field fxFlex="29%">
                <mat-select placeholder="Can Sell Water?" formControlName="can_sell_water">
                    <mat-option [value]=true>YES</mat-option>
                    <mat-option [value]=false>NO</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="28%" >
                <input matInput class="white-text f20 mat-block" placeholder="AMR" formControlName="amr">
            </mat-form-field>

            <mat-form-field fxFlex="28%">
                <input matInput class="white-text f20 mat-block" placeholder="Related Meter" formControlName="related_meter">
            </mat-form-field>

            <mat-form-field fxFlex="29%">
                <input matInput class="white-text f20 mat-block" placeholder="Current Electricity Supplier" formControlName="current_electricity_supplier">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="28%" >
                <input matInput [matDatepicker]="conEndpicker" placeholder="Contract End Date" formControlName="contract_end_date">
                <mat-datepicker-toggle matSuffix [for]="conEndpicker"></mat-datepicker-toggle>
                <mat-datepicker #conEndpicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex="28%">
                <input matInput class="white-text f20 mat-block" placeholder="Meter Serial Number" formControlName="meter_serial_number">
            </mat-form-field>

            <mat-form-field fxFlex="29%">
                <input matInput class="white-text f20 mat-block" placeholder="Supply Number" formControlName="supply_number">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="28%">
                <input matInput class="white-text f20 mat-block" placeholder="Contract Duration" formControlName="contract_duration">
            </mat-form-field>

            <mat-form-field fxFlex="28%">
                <input matInput class="white-text f20 mat-block" placeholder="Meter Serial Number" formControlName="meter_serial_number">
            </mat-form-field>

            <mat-form-field fxFlex="29%">
                <input matInput class="white-text f20 mat-block" placeholder="Supply Number" formControlName="supply_number">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field fxFlex="29%">
                <input matInput class="white-text f20 mat-block" placeholder="S & R3 Status" formControlName="s_andr3_status">
            </mat-form-field>
            <mat-form-field fxFlex="29%">
                <input matInput class="white-text f20 mat-block" placeholder="Bilge EAC" formControlName="bilge_eac">
            </mat-form-field>
            <mat-form-field fxFlex="28%">
                <mat-select placeholder="Locked" formControlName="is_locked">
                    <mat-option [value]=true>YES</mat-option>
                    <mat-option [value]=false>No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <br />
    <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
        <button mat-raised-button type="submit" color="primary">{{editMode?"Update":"Create"}}</button>
    </div>
</form>
