<style>
 mat-cell, .mat-header-cell{
     overflow: visible;
 }
 .mat-table {
     display: table;
     width:max-content;
 }
 .mat-cell, .mat-header-cell {
    word-wrap: break-word;
    width: 1%;
 }
</style>
<div class="user-list-container">
    <button mat-raised-button (click)="onRefresh()">
        <mat-icon>cached</mat-icon>
    </button>
    <button *ngIf="role!='sales-person' || role!='stage-1'" mat-raised-button routerLink="/leads/new">
        <mat-icon>person_add</mat-icon>
    </button>
    <button *ngIf="role!='sales-person' || role!='stage-1'" mat-raised-button color="warn" (click)="deleteMultiple()">
        <mat-icon>delete</mat-icon>
    </button>

    <mat-card class="margin-top-10">
        <mat-card-content>
            <form class="full-width" *ngIf="false">
                <mat-form-field class="full-width user-search">
                    <input type="text" matInput placeholder="Search" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <div class="float-right margin-bottom-10" *ngIf="!isAdvancedSearchEnabled">
                    <a href="javascript:void(0)" (click)="isAdvancedSearchEnabled = !isAdvancedSearchEnabled">Advanced search</a>
                </div>
                <div class="clearfix"></div>

                <div *ngIf="isAdvancedSearchEnabled">
                    <mat-form-field>
                        <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" placeholder="Start date">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" placeholder="End date">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <div>
                        <mat-form-field>
                            <mat-select placeholder="State" [(ngModel)]="state" [ngModelOptions]="{standalone: true}">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="margin-bottom-20 clearfix">
                        <button mat-raised-button color="primary">Search</button>
                        <button mat-button (click)="isAdvancedSearchEnabled = !isAdvancedSearchEnabled">Close</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive clearfix" *ngIf="leads">
                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutGap="5%">
                        <mat-checkbox fxFlex="15%" style="margin-right:10px" *ngFor="let field of fields.slice(0,5)" [(ngModel)]="field.selected" (ngModelChange)="selectedFieldsChanged()"> {{field.display}} </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutGap="5%">
                        <mat-checkbox fxFlex="15%" style="margin-right:10px" *ngFor="let field of fields.slice(5,10)" [(ngModel)]="field.selected" (ngModelChange)="selectedFieldsChanged()"> {{field.display}} </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutGap="5%">
                        <mat-checkbox fxFlex="15%" style="margin-right:10px" *ngFor="let field of fields.slice(10,15)" [(ngModel)]="field.selected" (ngModelChange)="selectedFieldsChanged()"> {{field.display}} </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutGap="5%">
                        <mat-checkbox fxFlex="15%" style="margin-right:10px" *ngFor="let field of fields.slice(15,20)" [(ngModel)]="field.selected" (ngModelChange)="selectedFieldsChanged()"> {{field.display}} </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutGap="5%">
                        <mat-checkbox fxFlex="15%" style="margin-right:10px" *ngFor="let field of fields.slice(20,25)" [(ngModel)]="field.selected" (ngModelChange)="selectedFieldsChanged()"> {{field.display}} </mat-checkbox>
                    </div>

                    <div fxLayout="row" fxLayoutGap="5%">
                        <mat-checkbox fxFlex="15%" style="margin-right:10px" *ngFor="let field of fields.slice(25,30)" [(ngModel)]="field.selected" (ngModelChange)="selectedFieldsChanged()"> {{field.display}} </mat-checkbox>
                    </div>
                </div>
                <br/>
                <br/>
                <form fxLayout="row" fxLayoutGap="5%" [formGroup]="filterForm" (ngSubmit)="filterForm.valid && loadLeads(0)">
                    <mat-form-field>
                        <mat-select placeholder="Fields" formControlName="field">
                            <mat-option *ngFor="let field of fields" [value]="field.filterField || field.field">
                                {{ field.display }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Condition" formControlName="condition">
                            <mat-option *ngFor="let cond of conditions" [value]="cond.key">
                                {{ cond.val }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field  *ngIf="filterForm.controls.value">
                        <input matInput placeholder="Value" formControlName="value">
                    </mat-form-field>
                    <mat-form-field *ngIf="filterForm.controls.start_date">
                        <input matInput [matDatepicker]="startDatepicker" placeholder="Start Date" formControlName="start_date">
                        <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field *ngIf="filterForm.controls.end_date">
                        <input matInput [matDatepicker]="endDatepicker" placeholder="End Date" formControlName="end_date">
                        <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatepicker></mat-datepicker>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button type="submit" color="primary">Apply Filter</button>
                    </div>
                </form>
                <div *ngIf="authService.role=='stage-1'">
                    <mat-checkbox [(ngModel)]="include_raw_leads" [ngModelOptions]="{standalone: true}" (ngModelChange)="loadLeads()">Include All Raw Leads</mat-checkbox>
                </div>
                <br/>
                <div>
                    <mat-chip-list>
                        <mat-chip *ngIf="email" (remove)="email = null">Search: {{email}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="startDate" (remove)="startDate = null">Start date: {{startDate | date: 'dd/MM/yyyy'}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="endDate" (remove)="endDate = null">End date: {{endDate | date: 'dd/MM/yyyy'}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <mat-chip *ngIf="state" (remove)="state = null">State: {{state}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <button *ngIf="role!='sales-person'" color="primary" mat-raised-button
                        [disabled]="selection.selected.length==0?true:false" (click)="assign()">
                    Assign
                </button>
                <a *ngIf="role!='sales-person'" routerLink="/leads/bulk-create"><button color="primary" mat-raised-button (click)="null">
                    Bulk Create
                </button></a>

                <button *ngIf="role!='sales-person'" [disabled]="selection.selected.length==0?true:false" color="primary" mat-raised-button (click)="getLeadExport()">
                    Export Leads
                </button>
            </div>
            <div class="overflow-auto">
                <form [formGroup]="inlineEditForm">
                    <mat-table #table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="edit">
                            <mat-header-cell *matHeaderCellDef style="margin-right:1%">
                                Inline Edit
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="margin-right:1%">
                                <mat-icon class="cursor-pointer" *ngIf="row.id!=inlineEditedID" (click)="inlineEdit(row)">mode_edit</mat-icon>
                                <mat-icon class="cursor-pointer" *ngIf="row.id==inlineEditedID" (click)="inlineEditForm.valid && update()">done</mat-icon>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef style="margin-right:1%">
                                <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                              [checked]="selection.hasValue() && isAllSelected()"
                                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="margin-right:1%">
                                <mat-checkbox class="inline" color="primary" (click)="$event.stopPropagation()"
                                              (change)="$event ? selection.toggle(row) : null"
                                              [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container *ngFor="let column of fields" [matColumnDef]="column.field">
                            <mat-header-cell *matHeaderCellDef [mat-sort-header]="column.field" style="margin-right:1%"> {{ column.display }} </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="margin-right:1%">
                                <mat-form-field *ngIf="element.id==inlineEditedID && inlineEditForm.controls[column.field] && column.fieldType!='date'" class="mat-block">
                                    <input  *ngIf="column.fieldType=='phone'" [mask]="'0000000000'" matInput type="text" [formControlName]="column.field" placeholder="{{column.display}}">
                                    <input  *ngIf="column.fieldType=='input'" matInput type="text" [formControlName]="column.field" placeholder="{{column.display}}">
                                    <mat-select *ngIf="column.fieldType=='select'" [formControlName]="column.field" placeholder="{{column.display}}">
                                        <mat-option *ngFor="let option of (column.field=='status'?sharedDataService.leadStatus:column.field=='current_electricity_supplier'?sharedDataService.supplierChoices:column.options)" [value]="option.key">{{option.value || option.display}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="element.id==inlineEditedID && inlineEditForm.controls[column.field] && column.fieldType=='date'" class="mat-block">
                                    <input matInput [matDatepicker]="conEndpicker" [formControlName]="column.field" placeholder="{{column.display}}">
                                    <mat-datepicker-toggle  matSuffix [for]="conEndpicker"></mat-datepicker-toggle>
                                    <mat-datepicker #conEndpicker></mat-datepicker>
                                </mat-form-field>
                                    <span *ngIf="!inlineEditForm.controls[column.field] || element.id!=inlineEditedID">
                                    {{ column.cell?column.cell(element):element[column.field]}}
                                </span>
                            </mat-cell>

                        </ng-container>

                        <!-- <mat-select *ngIf="column.field=='status'" placeholder="Status*" [(value)]="element.status" (selectionChange)='changeStatus(element)'>
                             <mat-option *ngFor="let status of sharedDataService.leadStatus" [value]="status.key">{{status.display}}</mat-option>
                             </mat-select>
                           -->

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef style="margin-right:1%"> Action </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="margin-right:1%">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <a routerLink="/leads/details/{{element.id}}"><button mat-menu-item (click)="null">
                                        Details
                                    </button></a>
                                    <button *ngIf="role=='sales-person' || role=='stage-1'" mat-menu-item (click)="scheduleCallback(element)">
                                        <span>Schedule Callback</span>
                                    </button>
                                    <button mat-menu-item (click)="comment(element)">
                                        <span>Comment</span>
                                    </button>
                                    <a routerLink="/leads/edit/{{element.id}}"><button mat-menu-item (click)="null">
                                        Edit
                                    </button></a>
                                    <button mat-menu-item *ngIf="role!='quality-analyst'" (click)="submitForPR(element)">
                                        <span>PR</span>
                                    </button>
                                    <button mat-menu-item *ngIf="role!='quality-analyst'" (click)="submitForPR(element, true)">
                                        <span>HT</span>
                                    </button>
                                    <button  *ngIf="role!='quality-analyst' || role=='stage-1'" mat-menu-item (click)="submitForSale(element)">
                                        <span>Sale</span>
                                    </button>


                                </mat-menu>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </form>
            </div>
            <mat-paginator #paginator
                           [pageSize]="constants.defaultPageSize"
                           [pageSizeOptions]="constants.pageSizeOptions"
                           [showFirstLastButtons]="true">
            </mat-paginator>
        </mat-card-content>
    </mat-card>

    <button mat-fab class="fixed-bottom-right" routerLink="/leads/new">
        <mat-icon aria-label="Add user">add</mat-icon>
    </button>
</div>
