<button mat-raised-button routerLink="/leads">
  <mat-icon>arrow_back</mat-icon> Back to list
</button>
<button *ngIf="role!='sales-person'" mat-raised-button routerLink="/leads/edit/{{user?.id}}">
  <mat-icon aria-label="Edit">edit</mat-icon>
</button>
<button *ngIf="role!='sales-person'"  mat-raised-button color="warn" (click)="onDelete()">
  <mat-icon aria-label="Delete">delete</mat-icon>
</button>

<section class="margin-top-10">
  <mat-card>
    <mat-card-title> Comments </mat-card-title>
    <mat-card-content>
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="created_on">
          <mat-header-cell *matHeaderCellDef fxFlex="40%"> Created On </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="40%"> {{moment(element.created_on).format('MMM DD, YYYY dddd hh:mm A')}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created_by">
          <mat-header-cell *matHeaderCellDef fxFlex="20%"> Author </mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="20%"> {{element.created_by}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="comment">
          <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</section>

<button mat-fab class="fixed-bottom-right" routerLink="/users/edit/{{user?.id}}">
  <mat-icon aria-label="Edit">edit</mat-icon>
</button>
