<mat-card>
    <mat-card-title> {{prOrHt?"Prospects":"HT"}} </mat-card-title>
    <mat-card-content>
        <div fxLayout="column">
            <form [formGroup]="form">
                <div fxLayout="row" fxLayoutGap="2%">
                    <mat-form-field fxFlex="20%">
                        <input matInput [matDatepicker]="fromPicker" placeholder="From" (dateChange)="getData()" formControlName="start_date">
                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="20%">
                        <input matInput [matDatepicker]="toPicker" placeholder="To" (dateChange)="getData()" formControlName="end_date">
                        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                        <mat-datepicker #toPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="20%">
                        <mat-select placeholder="Quality Status" formControlName="quality_status" (selectionChange)="getData()">
                            <mat-option [value]="false">All</mat-option>
                            <mat-option *ngFor="let la of sharedDataService.qualityStatusChoices" [value]="la.key">{{la.display}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="20%">
                        <mat-select placeholder="Campaign" formControlName="campaign" (selectionChange)="getData()">
                            <mat-option [value]="false">All</mat-option>
                            <mat-option *ngFor="let la of sharedDataService.campaignChoices" [value]="la.key">{{la.display}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="table-container">
            <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef fxFlex="5%" mat-sort-header="id">ID </mat-header-cell>
                    <mat-cell *matCellDef="let element;let index=index;" fxFlex="5%">
                        <a class="cursor-pointer" (click)="false && edit(element)">{{element.id}}</a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lead_id">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%" mat-sort-header="lead_id"> Lead ID </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize">
                        <a class="cursor-pointer" routerLink="/leads/edit/{{element.lead}}">{{element.lead}}</a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="created_on">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%" mat-sort-header="created_on"> Created On </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{moment(element.created_on).format('MMM DD, YYYY hh:mm A')}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="submitted_by">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"  mat-sort-header="submitted_by"> Submitted By </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{element.submitted_by}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="quality_status">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"  mat-sort-header="quality_status"> Quality Status </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{constants.getElementFromList(sharedDataService.qualityStatusChoices, 'key', element.quality_status, 'display')}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="campaign">
                    <mat-header-cell *matHeaderCellDef fxFlexOffset="1%" fxFlex="15%"  mat-sort-header="campaign"> Campaign </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlexOffset="1%" fxFlex="15%" class="capitalize"> {{constants.getElementFromList(sharedDataService.campaignChoices, 'key', element.campaign, 'display')}}  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef style="margin-right:1%"> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="margin-right:1%">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button  mat-menu-item (click)="changeStatus(element.id, 'approved')">
                                <span>Approve</span>
                            </button>
                            <button mat-menu-item (click)="changeStatus(element.id, 'on-hold')">
                                <span>On Hold</span>
                            </button>
                            <button mat-menu-item (click)="changeStatus(element.id, 'rejected')">
                                <span>Reject</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator
                           [pageSize]="constants.defaultPageSize"
                           [pageSizeOptions]="constants.pageSizeOptions"
                           [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
